## GraphLab contain powerful machine learning toolkits.

In [10]:
import graphlab

# Loading and Exploring Dataset.(SFrames can handle large datasets.)

In [12]:
textdata_people=graphlab.SFrame('people_wiki.gl/')
#text for some people from wikipedia pages

In [11]:
len(textdata_people)

59071

In [7]:
textdata_people.head() 
#head prints top 10 rowws (Use .print_rows(num_rows,num_cols) to print more.)

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [8]:
logan=textdata_people[textdata_people['name']=='Marc Logan'] 
# filter for selecting row from dataset in which column entry "name" is "Marc Logan".

In [9]:
logan['text']

dtype: str
Rows: ?
['marc anthony logan born may 9 1965 is a former american football running back that played ncaa d1a before playing in the nflmarc weighs in at 60 228 lbs marc attended the university of kentucky in college wearing the number 25 at kentucky marc enjoyed four very successful seasons leading his team in receptions in his sophomore junior and senior years as a sophomore in the 1985 hall of fame bowl marc scored two touchdowns on just five plays in his mvp performance setting two ncaa bowl records for the longest kick return 85 yards as well as the longest play from scrimmage 63 yards his kickoff return record still stands today marc was selected in the fifth round of the 1987 nfl draft by the cincinnati bengals he then went on to play eleven years in the national football league from 1987 to 1997 for the bengals miami dolphins san francisco 49ers and washington redskins throughout his career marc rushed for 1391 yards on 325 carries averaging 44 yards per carry with 15 tds marc also had 123 receptions for 1135 yards averaging 92 yards per reception with 3 tds he also added 1830 yards on 89 returns averaging 206 yards with 1 td he played in super bowl xxiii for the bengals and was a part of the super bowl xxix winning san francisco 49ers', ... ]

# Let's see Word Count for Logan Article

In [15]:
logan['word_count']=graphlab.text_analytics.count_words(logan['text'])
# added new column to logan instance which contains word count for logan article

In [14]:
logan

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Marc Logan | marc anthony logan born ma... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'cincinnati': 1L, 'just':... |
+-------------------------------+
[1 rows x 4 columns]

In [16]:
logan['word_count']

dtype: dict
Rows: 1
[{'cincinnati': 1L, 'just': 1L, 'kickoff': 1L, 'years': 2L, 'four': 1L, 'logan': 1L, 'still': 1L, 'enjoyed': 1L, 'fifth': 1L, 'before': 1L, '25': 1L, '1830': 1L, 'had': 1L, 'winning': 1L, 'to': 2L, 'xxix': 1L, 'td': 1L, 'kick': 1L, 'wearing': 1L, 'then': 1L, 'his': 5L, 'return': 2L, 'very': 1L, 'records': 1L, '123': 1L, 'five': 1L, 'longest': 2L, 'hall': 1L, 'sophomore': 2L, 'miami': 1L, 'university': 1L, 'nfl': 1L, 'team': 1L, 'went': 1L, 'round': 1L, 'added': 1L, 'weighs': 1L, 'xxiii': 1L, 'back': 1L, 'born': 1L, '89': 1L, 'college': 1L, '85': 1L, 'plays': 1L, 'stands': 1L, 'junior': 1L, 'selected': 1L, 'per': 2L, '3': 1L, '1391': 1L, 'attended': 1L, '1135': 1L, 'redskins': 1L, 'yards': 8L, 'tds': 2L, 'super': 2L, 'by': 1L, 'mvp': 1L, 'league': 1L, 'career': 1L, 'of': 4L, 'marc': 7L, '49ers': 2L, 'touchdowns': 1L, 'washington': 1L, 'number': 1L, '60': 1L, '63': 1L, 'carry': 1L, 'throughout': 1L, '1987': 2L, '1985': 1L, 'from': 2L, 'rushed': 1L, 'leading': 1L, 'two': 2L, 'eleven': 1L, 'returns': 1L, 'draft': 1L, 'was': 2L, 'national': 1L, 'today': 1L, 'that': 1L, 'successful': 1L, 'bengals': 3L, 'anthony': 1L, 'part': 1L, '228': 1L, '92': 1L, 'with': 3L, 'former': 1L, 'he': 3L, '15': 1L, '1997': 1L, 'scrimmage': 1L, 'kentucky': 2L, 'record': 1L, 'and': 3L, 'lbs': 1L, 'ncaa': 2L, 'san': 2L, 'played': 2L, 'averaging': 3L, 'is': 1L, 'as': 3L, 'at': 2L, 'in': 10L, 'fame': 1L, '1965': 1L, '44': 1L, 'bowl': 4L, 'carries': 1L, '1': 1L, 'also': 2L, 'setting': 1L, '325': 1L, '9': 1L, 'performance': 1L, 'scored': 1L, 'play': 2L, 'francisco': 2L, 'receptions': 2L, '206': 1L, 'may': 1L, 'football': 2L, 'running': 1L, 'seasons': 1L, 'on': 4L, 'nflmarc': 1L, 'senior': 1L, 'dolphins': 1L, 'a': 3L, 'for': 5L, 'well': 1L, 'd1a': 1L, 'reception': 1L, 'american': 1L, 'the': 13L, 'playing': 1L}]

## Create table for word and count, and sort according to count

In [24]:
logan_word_count_table=logan[['word_count']].stack('word_count',new_column_name=['word','count'])
#stack() will stack value over key from dictionary of word_counts,i.e. count over word.

In [23]:
logan_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 139

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   13  |
|   in  |   10  |
| yards |   8   |
|  marc |   7   |
|  for  |   5   |
|  his  |   5   |
|   on  |   4   |
|  bowl |   4   |
|   of  |   4   |
|  and  |   3   |
+-------+-------+
[139 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### *** Most common words like "the","in" are uninformative for our purpose of document retrieval.

## Let's compute word count for all articles and also calculate tf-idf for downweighting uninformative words.

In [27]:
textdata_people['word_count']=graphlab.text_analytics.count_words(textdata_people['text'])

In [39]:
textdata_people['tfidf']=graphlab.text_analytics.tf_idf(textdata_people['word_count'])

In [38]:
textdata_people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Now let's see which words are assigned more weights using same example of 'Marc Logan'

In [49]:
logan=textdata_people[textdata_people['name']=='Marc Logan']
logan

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Marc Logan | marc anthony logan born ma... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'cincinnati': 1L, 'just':... | {'cincinnati': 4.392081929... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [58]:
logan_tfidf=logan[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)
logan_tfidf

Columns:
	word	str
	tfidf	float

Rows: 139

Data:
+------------+---------------+
|    word    |     tfidf     |
+------------+---------------+
|   yards    | 39.5509004443 |
|    marc    | 32.8774587282 |
|  bengals   |  21.048610427 |
|    bowl    | 18.0504187715 |
| averaging  | 16.5679907526 |
|    tds     | 14.5952318702 |
|   49ers    | 13.1840924691 |
| receptions | 12.6842089802 |
|    d1a     | 10.9864953892 |
|  nflmarc   | 10.9864953892 |
+------------+---------------+
[139 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### *** Clearly informative words are having more weight, yards for football player gives good information about article.

In [59]:
logan_tfidf[logan_tfidf['word']=='football']

Columns:
	word	str
	tfidf	float

Rows: Unknown

Data:
+----------+---------------+
|   word   |     tfidf     |
+----------+---------------+
| football | 5.11714133113 |
+----------+---------------+
[? rows x 2 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# Checking similarity between articles!!

In [62]:
priyanka=textdata_people[textdata_people['name']=='Priyanka Chopra']
priyanka

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+-----------------+
|              URI              |       name      |
+-------------------------------+-----------------+
| <http://dbpedia.org/resour... | Priyanka Chopra |
+-------------------------------+-----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| priyanka chopra pronounced... | {'ambassador': 1L, 'portra... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'ambassador': 3.977086456... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [68]:
deepika=textdata_people[textdata_people['name']=='Deepika Padukone']
deepika

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Deepika Padukone |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| deepika padukone pronounce... | {'yeh': 1L, 'all': 1L, 'po... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'yeh': 7.767619564356994,... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [74]:
modi=textdata_people[textdata_people['name']=='Narendra Modi']
modi

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
+-------------------------------+---------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'since': 2L, 'office': 1L... | {'since': 2.91075343461608... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# Smaller the cosine distance more are they related.
Cosine Distance = 1-cosine_similarity

In [75]:
graphlab.distances.cosine(priyanka['tfidf'][0],modi['tfidf'][0])

0.9749923672293441

In [76]:
graphlab.distances.cosine(priyanka['tfidf'][0],deepika['tfidf'][0])

0.8005735786585003

### *** Here article about priyanka is more related to that of deepika because both are INDIAN Actresses while Narendra Modi is prime minister of INIDIA.

# Nearest Neighbor Model for retrieving closest article.

In [129]:
knn_model=graphlab.nearest_neighbors.create(textdata_people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

### Closest to Priyanka Chopra!!

In [133]:
knn_model.query(priyanka)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.625ms     |

| Done         |         | 100         | 407.375ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------------------+--------------------+------+
| query_label |        reference_label        |      distance      | rank |
+-------------+-------------------------------+--------------------+------+
|      0      |        Priyanka Chopra        | -2.22044604925e-16 |  1   |
|      0      |        Parineeti Chopra       |   0.604159082601   |  2   |
|      0      |         Aditya Chopra         |   0.701921268956   |  3   |
|      0      |          Tanya Wilson         |   0.718136643614   |  4   |
|      0      | Amy Crawford (pageant titl... |   0.72958015241    |  5   |
+-------------+-------------------------------+--------------------+------+
[5 rows x 4 columns]

In [134]:
print knn_model.query(priyanka)[1]

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.006ms     |

| Done         |         | 100         | 417.286ms    |

+--------------+---------+-------------+--------------+

{'query_label': 0L, 'distance': 0.6041590826011097, 'reference_label': 'Parineeti Chopra', 'rank': 2L}

#### *** Deepika padukone's article is closest to that of priyanka in our dataset.

## Some other retrievals...

In [135]:
knn_model.query(deepika)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.002ms     |

| Done         |         | 100         | 351.005ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+-------------------+------+
| query_label | reference_label  |      distance     | rank |
+-------------+------------------+-------------------+------+
|      0      | Deepika Padukone | 2.22044604925e-16 |  1   |
|      0      |  Ranbir Kapoor   |   0.738967823381  |  2   |
|      0      |  Kangana Ranaut  |   0.757512578263  |  3   |
|      0      |   Preity Zinta   |   0.771892143259  |  4   |
|      0      |   Katrina Kaif   |   0.781594591845  |  5   |
+-------------+------------------+-------------------+------+
[5 rows x 4 columns]

In [136]:
knn_model.query(modi)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 31.993ms     |

| Done         |         | 100         | 378.087ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------------+--------------------+------+
| query_label |       reference_label       |      distance      | rank |
+-------------+-----------------------------+--------------------+------+
|      0      |        Narendra Modi        | -2.22044604925e-16 |  1   |
|      0      |         Vijay Patel         |   0.714338880391   |  2   |
|      0      |        Jagdish Mukhi        |   0.749201395281   |  3   |
|      0      | Lakshman Singh (politician) |   0.766922629044   |  4   |
|      0      |    Raosaheb Dadarao Danve   |   0.768889891187   |  5   |
+-------------+-----------------------------+--------------------+------+
[5 rows x 4 columns]

In [137]:
ranbir=textdata_people[textdata_people['name']=='Ranbir Kapoor']
knn_model.query(ranbir)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.623ms     |

| Done         |         | 100         | 363.983ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+----------------+------+
| query_label |   reference_label   |    distance    | rank |
+-------------+---------------------+----------------+------+
|      0      |    Ranbir Kapoor    |      0.0       |  1   |
|      0      |    Karisma Kapoor   | 0.60391406141  |  2   |
|      0      | Kareena Kapoor Khan | 0.653682592778 |  3   |
|      0      |     Anil Kapoor     | 0.689952609965 |  4   |
|      0      |    Hrithik Roshan   | 0.736364895444 |  5   |
+-------------+---------------------+----------------+------+
[5 rows x 4 columns]

In [139]:
saif=textdata_people[textdata_people['name']=='Saif Ali Khan']
knn_model.query(saif)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 0us          |

| Done         |         | 100         | 366.088ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |  Saif Ali Khan  |      0.0       |  1   |
|      0      |    Aamir Khan   | 0.57874601303  |  2   |
|      0      |   Salman Khan   | 0.648610944519 |  3   |
|      0      |   Roedad Khan   | 0.679298870011 |  4   |
|      0      |   Mansoor Khan  | 0.701851878325 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [140]:
kareena=textdata_people[textdata_people['name']=='Kareena Kapoor Khan']
knn_model.query(kareena)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.604ms     |

| Done         |         | 100         | 371.308ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+----------------+------+
| query_label |   reference_label   |    distance    | rank |
+-------------+---------------------+----------------+------+
|      0      | Kareena Kapoor Khan |      0.0       |  1   |
|      0      |    Karisma Kapoor   | 0.494816364063 |  2   |
|      0      |    Ranbir Kapoor    | 0.653682592778 |  3   |
|      0      |     Anil Kapoor     | 0.715712841022 |  4   |
|      0      |     Rajat Kapoor    | 0.728144837052 |  5   |
+-------------+---------------------+----------------+------+
[5 rows x 4 columns]

In [141]:
amitabh=textdata_people[textdata_people['name']=='Amitabh Bachchan']
knn_model.query(amitabh)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.855ms     |

| Done         |         | 100         | 354.955ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Amitabh Bachchan |      0.0       |  1   |
|      0      |  Jaya Bachchan   | 0.705748128243 |  2   |
|      0      |   Dilip Kumar    | 0.746783147296 |  3   |
|      0      |    Aamir Khan    | 0.769045527091 |  4   |
|      0      |     Mohanlal     | 0.791939910141 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [142]:
aamir=textdata_people[textdata_people['name']=='Aamir Khan']
knn_model.query(aamir)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.602ms     |

| Done         |         | 100         | 397.923ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------------+-------------------+------+
| query_label |     reference_label     |      distance     | rank |
+-------------+-------------------------+-------------------+------+
|      0      |        Aamir Khan       | 2.22044604925e-16 |  1   |
|      0      |      Saif Ali Khan      |   0.57874601303   |  2   |
|      0      | Singeetam Srinivasa Rao |   0.666620471969  |  3   |
|      0      |       Mansoor Khan      |   0.702502317978  |  4   |
|      0      |       Salman Khan       |   0.70771486562   |  5   |
+-------------+-------------------------+-------------------+------+
[5 rows x 4 columns]

## Some more visualizations...

In [100]:
elton=textdata_people[textdata_people['name']=='Elton John']

In [104]:
elton[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [106]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [108]:
victoria=textdata_people[textdata_people['name']=='Victoria Beckham']

In [110]:
paul=textdata_people[textdata_people['name']=='Paul McCartney']

In [111]:
graphlab.distances.cosine(elton['tfidf'][0],victoria['tfidf'][0])

0.9567006376655429

In [112]:
graphlab.distances.cosine(elton['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

Paul's article is more close to elton.

In [132]:
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 144.019ms    |

| Done         |         | 100         | 830.305ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [130]:
knn_model1=graphlab.nearest_neighbors.create(textdata_people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [131]:
knn_model1.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 286.004ms    |

| Done         |         | 100         | 652.195ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [149]:
knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.629ms     |

| Done         |         | 100         | 378.555ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [150]:
knn_model1.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.98ms      |

| Done         |         | 100         | 411.754ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]